body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

input[type=email], input[type=password] {
    width: 80%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type=button] {
    background-color: #f1f1f1;
    color: black;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    opacity: 0.6;
}

button[type=button]:hover {
    opacity: 1;
}

.note, .terms {
    color: grey;
    font-size: 12px;
}

.terms-links button {
    background-color: transparent;
    color: blue;
    padding: 5px;
    margin: 4px 2px;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    font-size: 17px;
}
